

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* Border-box all the things */
*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
}

body {
  margin: 0;
  font-family: caption, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  margin-top: 20px;
}

.header__sturlaAtlas {
  float: left;
  width: 50%;
  padding: 5% 2.5% 5% 5%;
}

.header__101boys {
  float: left;
  width: 50%;
  padding: 5% 5% 5% 2.5%;
}


.cover {
  position: relative;
  width: 90%;
  margin: 5%;
}
.cover__image--info {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cover__image--info:hover {
  opacity: 1;
}

.cover__image {
  width: 100%;
  height: auto;
}

.links {
  text-align: center;
}

.links__item svg {
  height: 24px;
  width: auto;
  margin: 8px 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.links__item--aqua svg {
  height: 27px;
}
.links__item:hover svg {
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}


.homeLink {
  display: block;
  padding: 5% 10%;
  width: 100%;
}



/* Image Collection */
.image-collection {
  max-width: calc(1480px + 4%);
  padding: 2% 2% 0 2%;
  margin: 0 auto;
}

.image-collection__image {
  padding-bottom: 2%;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 700px) {
  .image-collection__portraits {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .image-collection__image--portrait {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 49%;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
    width: 49%;
    height: auto;
  }
}


/* Clothing */

.clothing__images {
  padding: 0 0 0 2%;
  max-width: 1340px;
  margin: 0 auto;
}

.clothing__images__item {
  width: 100%;
  max-width: 640px;
  height: auto;
  padding-bottom: 2vw;
  padding-right: 2vw;
  float: left;
}



/* Zine */

.zine__images {
  padding: 0 0 0 2%;
  max-width: 1340px;
  margin: 0 auto;
}

.zine__images__item {
  width: 100%;
  max-width: 100%;
  max-height: 900px;
  height: auto;
  padding-bottom: 2vw;
  padding-right: 2vw;
}

@media only screen and (min-width: 740px) and (min-height: 360px) {
  .header {
    width: calc(100% - 100vh);
    max-width: 50%;
    min-width: 320px;
    margin-top: 10vh;
    text-align: center;
  }

  .header__sturlaAtlas {
    float: none;
    width: 40%;
    margin: 0 10%;
    padding: 0 0 5vh;
  }

  .header__101boys {
    padding: 0;
    width: 38%;
    margin: 0 10%;
    float: none;
  }


  .cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vh;
    min-width: 50%;
    max-width: calc(100% - 320px);
    margin: 0;
  }

  .links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 100vh);
    max-width: 50%;
    min-width: 320px;
    bottom: 10vh;
  }
}


/* Sturla Aqua */
.sturla-aqua__logo-top {
  position: fixed;
  top: 4vw;
  left: 50%;
  width: 60vmin;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1000px;
  height: auto;
}

.sturla-aqua__logo-bottom-left {
  position: fixed;
  bottom: 4vw;
  left: 4%;
  height: 6vmin;
  max-height: 100px;
  width: auto;
}

.sturla-aqua__logo-bottom-right {
  position: fixed;
  bottom: 4vw;
  right: 4%;
  height: 6vmin;
  max-height: 100px;
  width: auto;
}



/* Player */

.player {
  position: fixed;
  bottom: 4vw;
  left: 4vw;
  right: 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  width: 90px;
  border-radius: 4px;
  overflow: hidden;
  background: #FFF;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.player__box--expanded {
  width: 340px;
}


.player__texts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  width: 180px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  padding: 10px;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}

.player__texts__head {
  text-transform: uppercase;
  color: #AAA;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.player__texts__title {
  font-size: 20px;
  line-height: 0.9;
}

.player__texts__album {
  font-size: 13px;
  font-weight: bold;
  color: #AAA;
}

.player__texts__album__icon {
  display: inline-block;
  height: 14px;
  width: 14px;
}

.player__texts__track__index {
  font-weight: normal;
}


.player__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background:
    -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/player-cover.jpg');
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/player-cover.jpg');
  background-size: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 4px;
}
.player__box--expanded .player__cover {
  left: 40px;
  width: 80px;
  border-radius: 0;
}

.player__cover__action {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.player__cover__action--pause {
  opacity: 0;
  width: 30px;
  height: 30px;
  top: 30px;
}
.player__box--expanded .player__cover__action--pause { opacity: 1; }
.player__box--expanded .player__cover__action--play { opacity: 0; }


.player__controls {
  position: relative;
  height: 90px;
  width: 90px;
  overflow: hidden;
  -webkit-transition: width 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90px;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
}
.player__box--expanded .player__controls {
  width: 160px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 160px;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}

.player__controls__background {
  width: 100%;
  height: 100%;
  background: url('/img/player-cover-blur.jpg');
}

.player__controls__action {
  position: absolute;
  height: 34px;
  width: 40px;
  top: 28px;
  padding: 10px;
}
.player__controls__action--prev {
  left: 0;
}
.player__controls__action--next {
  right: 0;
}
