
<div class="player">
  <div class="player__box">

    <div class="player__controls">
      <div class="player__controls__background"></div>
      <svg class="player__controls__action player__controls__action--prev" viewbox="0 0 19 14">
        <path d="M11.0530846,4.89329268 L11.0530846,1.77635684e-15 L-1.77635684e-15,6.90817791 L11.0530846,13.8163558 L11.0530846,8.92306313 L18.8823529,13.8163558 L18.8823529,1.77635684e-15 L11.0530846,4.89329268 Z" fill="#FFFFFF" />
      </svg>
      <svg class="player__controls__action player__controls__action--next" viewbox="0 0 19 14">
        <path d="M7.82926829,4.89329268 L0,0 L0,13.8163558 L7.82926829,8.92306313 L7.82926829,13.8163558 L18.8823529,6.90817791 L7.82926829,0 L7.82926829,4.89329268 Z" fill="#FFFFFF" />
      </svg>
    </div>

    <div class="player__cover">
      <svg class="player__cover__action player__cover__action--play" viewbox="0 0 26 33">
        <path d="M0,33 L0,0 L26,16.5 L0,33 Z" fill="#FFFFFF" />
      </svg>
      <svg class="player__cover__action player__cover__action--pause" viewbox="0 0 22 24">
        <path d="M0,0 L8,0 L8,24 L0,24 L0,0 Z M14,0 L22,0 L22,24 L14,24 L14,0 Z" fill="#FFFFFF" />
      </svg>
    </div>

    <div class="player__texts">
      <div class="player__texts__head">Now playing</div>
      <div class="player__texts__title">Roll Up</div>
      <div class="player__texts__album">
        <svg class="player__texts__album__icon" viewbox="0 0 14 14">
          <path d="M7,14 C10.8659932,14 14,10.8659932 14,7 C14,3.13400675 10.8659932,0 7,0 C3.13400675,0 0,3.13400675 0,7 C0,10.8659932 3.13400675,14 7,14 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#C2C2C2" fill-rule="evenodd" />
        </svg>
        Love Hurts <span class="player__texts__track__index">1 of 2</span>
      </div>
    </div>

  </div>

  <audio class="player__audio0" preload="none">
    <source src="/tracks/love-hurts/01 Roll Up.mp3">
    <source src="/tracks/love-hurts/01 Roll Up.ogg">
  </audio>

  <audio class="player__audio1" preload="none">
    <source src="/tracks/love-hurts/02 Houses In The Hills.mp3">
    <source src="/tracks/love-hurts/02 Houses In The Hills.ogg">
  </audio>

  <audio class="player__audio2" preload="none">
    <source src="/tracks/love-hurts/03 Lotta Girls.mp3">
    <source src="/tracks/love-hurts/03 Lotta Girls.ogg">
  </audio>

  <audio class="player__audio3" preload="none">
    <source src="/tracks/love-hurts/04 Pills.mp3">
    <source src="/tracks/love-hurts/04 Pills.ogg">
  </audio>

  <audio class="player__audio4" preload="none">
    <source src="/tracks/love-hurts/05 Stay High Interlude.mp3">
    <source src="/tracks/love-hurts/05 Stay High Interlude.ogg">
  </audio>

  <audio class="player__audio5" preload="none">
    <source src="/tracks/love-hurts/06 Good Good.mp3">
    <source src="/tracks/love-hurts/06 Good Good.ogg">
  </audio>

  <audio class="player__audio6" preload="none">
    <source src="/tracks/love-hurts/07 Over Here.mp3">
    <source src="/tracks/love-hurts/07 Over Here.ogg">
  </audio>

  <audio class="player__audio7" preload="none">
    <source src="/tracks/love-hurts/08 Feel Your Heart.mp3">
    <source src="/tracks/love-hurts/08 Feel Your Heart.ogg">
  </audio>

  <audio class="player__audio8" preload="none">
    <source src="/tracks/love-hurts/09 FourFortyFive.mp3">
    <source src="/tracks/love-hurts/09 FourFortyFive.ogg">
  </audio>

  <audio class="player__audio9" preload="none">
    <source src="/tracks/love-hurts/10 San Francisco.mp3">
    <source src="/tracks/love-hurts/10 San Francisco.ogg">
  </audio>

  <audio class="player__audio10" preload="none">
    <source src="/tracks/love-hurts/11 Kiernan Outro.mp3">
    <source src="/tracks/love-hurts/11 Kiernan Outro.ogg">
  </audio>
</div>

<script src="js/player.js"></script>
