

/* Image Collection */
.image-collection {
  padding: 2.7% 2.7% 0 2.7%;
  margin: 0 auto;
}

.image-collection__image {
  padding-bottom: 2.7%;
  width: 100%;
  height: auto;
}


@media screen and (min-width: 700px) {
  .image-collection__portraits {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .image-collection__image--portrait {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48.64864865%; /* 720 / 1480 % */
        -ms-flex: 0 0 48.64864865%; /* 720 / 1480 % */
            flex: 0 0 48.64864865%; /* 720 / 1480 % */
    width: 48.65%;
    height: auto;
  }
}


@media screen and (min-width: 1538px) {
  .image-collection {
    width: 1538px;
    padding: 29px /* 2.7% */
  }
}
