
.index__header {
  margin-top: 20px;
}

.index__header__sturlaAtlas {
  float: left;
  width: 50%;
  padding: 5% 2.5% 5% 5%;
}

.index__header__101boys {
  float: left;
  width: 50%;
  padding: 5% 5% 5% 2.5%;
}


.index__cover {
  position: relative;
  width: 90%;
  margin: 5%;
}
.index__cover__image--info {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.index__cover__image--info:hover {
  opacity: 1;
}

.index__cover__image {
  width: 100%;
  height: auto;
}

.index__links {
  text-align: center;
}

.index__links__item svg {
  height: 24px;
  width: auto;
  margin: 8px 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.index__links__item--aqua svg {
  height: 27px;
}
.index__links__item:hover svg {
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}


.homeLink {
  display: block;
  padding: 5% 10%;
  width: 100%;
}


@media only screen and (min-width: 740px) and (min-height: 360px) {
  .index__header {
    width: calc(100% - 100vh);
    max-width: 50%;
    min-width: 320px;
    margin-top: 10vh;
    text-align: center;
  }

  .index__header__sturlaAtlas {
    float: none;
    width: 40%;
    margin: 0 10%;
    padding: 0 0 5vh;
  }

  .index__header__101boys {
    padding: 0;
    width: 38%;
    margin: 0 10%;
    float: none;
  }


  .index__cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vh;
    min-width: 50%;
    max-width: calc(100% - 320px);
    margin: 0;
  }

  .index__links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 100vh);
    max-width: 50%;
    min-width: 320px;
    bottom: 10vh;
  }
}
