

/* Sturla Aqua */
.sturla-aqua__logo-top {
  position: fixed;
  top: 4vw;
  left: 50%;
  width: 60vmin;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1000px;
  height: auto;
}


.sturla-aqua__logo-bottom-right {
  display: none;
  position: fixed;
  bottom: calc(4vw + 10px);
  right: 4%;
  height: 50px;
  width: auto;
}

@media screen and (min-width: 700px) {
  .sturla-aqua__logo-bottom-right {
    display: block;
  }
}
